<div class="mb-4">
    <button pButton label="Import" class="mr-2" (click)="fileUpload.click()"></button>
    <button pButton label="Clear" class="p-button-secondary" (click)="clearRecords()"></button>

    <input #fileUpload type="file" style="display:none" (change)="onUpload($event)" #fileUpload>
</div>
<div *ngIf="patients">
    <p-table #dt
        [value]="patients"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['firstName','lastName']"
        dataKey="patientID"
        editMode="row"
    >

        <ng-template pTemplate="caption">
            <div class="d-flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="patientID"><p-sortIcon field="patientID"></p-sortIcon>ID</th>
                <th pSortableColumn="firstName"><p-sortIcon field="firstName"></p-sortIcon>First Name</th>
                <th pSortableColumn="lastName"><p-sortIcon field="lastName"></p-sortIcon>Last Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-patient let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="patient">
                <td>{{patient.patientID}}</td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="patient.firstName">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{patient.firstName}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="patient.lastName">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{patient.lastName}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="patient.dateOfBirth">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{patient.dateOfBirth}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="patient.gender">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{patient.gender}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                       class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                        (click)="onRowEditSave(patient)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                         class="p-button-rounded p-button-text p-button-danger"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- 
    Why does this sidebar not inherit text styles from ng prime???? 
    I had to globally set the body font in order to hit this component.
-->
<p-sidebar [(visible)]="showMapColumns" [dismissible]="false" styleClass="p-sidebar-md">
    <h3>Map Columns from CSV</h3>
    <div class="mb-4">Records with duplicate First Name, Last Name, and Birthdate will be overwritten.</div>
    <div class="mb-4">For each field, please select a column from the dropdown to map your CSV columns to the correct field. The field you are mapping to appears above each dropdown in <strong>bold</strong>.</div>


    <div *ngFor="let col of mappableColumns">
        <h5 class="mb-1">{{col.label}}</h5>
        <p-dropdown [options]="userColumns" [(ngModel)]="mappedColumns[col.name]"></p-dropdown>
    </div>

    <button pButton label="Submit" (click)="submit()" class="mt-4"></button>
</p-sidebar>

<p-toast></p-toast>

<p-confirmDialog header="Warning" icon="pi pi-exclamation-triangle"></p-confirmDialog>