body { 
    margin: 0; 
    font-family: 'Segoe UI', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: Roboto, "Helvetica Neue", sans-serif;  */
}

.p-sidebar-content {
    height: 100%;
}